<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>

<div id="admin_info">
    <% if @admin.firstname || @admin.lastname != nil %>
        <p><%= @admin.firstname + " " + @admin.lastname %></p>
    <% end %>
</div>
