<p id="notice"><%= notice %></p>

<h1>Jobs Index</h1>

<%= link_to 'New Job', new_user_job_path(current_user.id) %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <!-- <div class="job-route">
          <%#= link_to 'New Job?', "/new_job/#{job.id}", remote: true %>
      </div> -->
    <% @jobs.each do |job| %>
      <tr>
          <td><%= link_to job.name, user_job_path(@user, job.id) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
