<h1>Home</h1>

<% puts "**==\ncurrent_admin: #{current_admin.inspect}" %>
<%# puts "**==admin_session: #{admin_session:.inspect}" %>
<% puts "**==\ncurrent_user: #{current_user.inspect}" %>
<%# puts "**==user_session: #{user_session:.inspect}" %>
